<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem
                name="Grupo de Clientes - CAI"
                id="menu_re_gru_cli_cai"
                parent="account.account_management_menu"
                action="act_viws_lista_tree_grupo_cli"
                sequence="1"/>

          <menuitem
                name="Lider Comercial - CAI"
                id="menu_re_gru_li_comercial"
                parent="account.account_management_menu"
                action="act_viws_lista_tree_li_comer"
                sequence="2"/>

    </data>
</odoo>